:root{
    --primary-color: #febf34;
    --secondary-color: #eeeeee;
    --out-of-stock: #af1513;
    --in-stock: #4cb050;
    --white: #ffffff;
    --primary-with-opacity: #ffda86;
}


/*
#febf34
#fec952
#af1513
#4cb050
#ffffff
#eeeeee
 */